.main-block{
    margin-top: 40px;
}

.btn-field{
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    color:black;
}
tr{
    cursor: pointer;
}
.pag-field{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-btn-field{
    margin-top: 20px;
}
.modal-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-sum{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

